<h1>Confirming your user account </h1>
<p>
Hello, {{ user.username }}. <br><br>
Please change your password now by clicking on the link below. <br><br>
Please note this link is valid until <strong>{{ lifeTimeToken }} </strong> after this date it will no longer be valid. <br><br>
<a href="http://localhost:5173/reset-password/{{user.id}}/{{token}}">Reset password.</a><br><br>
<strong>This is an automatic email, please do not respond.</strong><br><br>
See you soon on our website
</p>